$color_main_font: rgba(0, 0, 0, 0.8);
$color_nav_font : white;


@mixin glasspane {
    background-color       : rgba(255, 255, 255, .65) !important;
    border-radius          : 5px;
    backdrop-filter        : blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}